<h1>Titulo</h1>
<h2>Jugador {{player==1?'x':'o'}}</h2>


  <ng-container  *ngIf="array">
    <ng-container *ngFor="let row of array; let i = index">
      <div style="display: table">
        <ng-container *ngFor="let col of row; let j = index">
          <div class="text-center color-{{ col }} elem-game ">
            <app-cell [value]="player" [i]='i' [j]='j' (changeStateEmitter)='nextPlayer($event)'></app-cell>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

